* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    min-height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

/* Reset list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 680px;
    display: flex;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

.offset-nav {
    display: none;
}

/* Header */
header {
    background-color: #495ECA;
    color: #ffffff;
    padding: 60px 0;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* Header circles */
.circle {
    position: absolute;
    width: 400px;
    height: 250px;
    transform: rotate(-30deg);
    border-radius: 100%
}
.circle-blue {
    left: -50px;
    top: -100px;
    background: #556BDA;
}

.circle-orange {
    right: -180px;
    bottom: -130px;
    background: #FFA45A;
}

/* Header - User info */
.user-info {
    display: flex;
    align-items: center;
}

.user-info-content {
    margin-left: 15px;
}

.user-info-image {
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 100px;
    width: 70px;
    height: 70px;
}

.user-info-image img {
    overflow: hidden;
    border-radius: 100px;
    max-width: 100%;
}

.user-info-content h1,
.user-info-content p {
    margin: 0 0 5px;
}

.user-info-content h1 {
    font-size: 1.2rem;
}

.user-info-content a {
    color: #ffffff;
    opacity: .4;
    text-decoration: none;
    transition: opacity .3s ease; 
}

.user-info-content a:hover,
.user-info-content a:focus,
.user-info-content a:active {
    opacity: 1;
}

.user-info-labels {
    margin-top: 15px;
}

.user-info-labels li {
    display: inline-block;
    margin-right: 5px;
    font-size: .9rem;
    padding: 3px 5px;
    border: 1px solid #97A1D7;
    border-radius: 5px;
}