@import '../../styles/variables';

.social-link {
    margin: 0 -($gutter / 2);
    font-size: 2rem;
    color: $base-color;
    transition: all .3s ease;
    padding: $gutter / 2;
    line-height: 0;
    opacity: .7;

    &:hover {
        color: lighten($base-color, 10%);
        opacity: 1;
        transform: scale(2);
    }
}
