// Colors
$dark-blue: #291933;
$blue: #495ECA;
$orange: #FFA45A;
$bright-gray: #FAFEFF;

$primary-color: $blue;
$secondary-color: $orange;

$base-font-size: 14px;
$base-font-family: 'Montserrat', sans-serif;
$base-color: $dark-blue;
$body-bg: $bright-gray;
