@import './variables';
@import './categories';

* {
    box-sizing: border-box;
}

html {
    font-size: $base-font-size;
    min-height: 100%;
}

body {
    font-family: $base-font-family;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background: $body-bg;
    color: $base-color;
}

input,
button {
    font-family: $base-font-family;
    font-size: 1rem;
}

input::placeholder {
    color: #97A1D7;
    font-style: italic;
}

/* Reset list styles */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h2,
label {
    font-size: 1.2rem;
    color: #495ECA;
    display: block;
    font-weight: 600;
    margin: 10px 0 20px;
}

.container {
    max-width: 680px;
    display: flex;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
    flex-direction: column;
}

.btn-reset {
    cursor: pointer;
    border: 0;
    outline: 0;
}
